* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(221, 58%, 20%);
}

footer {
  padding: 24px;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: flex-end;
  border-top: thin solid black;
}

footer a {
  color: black;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
